/*****************Сброс стилей***************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

html {
	height: 100%;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: League Spartan, sans-serif;
}
/*****************Header***************/
.header {
	background-color: #F8F8F8;
}

.max-container {
	height: 900px;
	width: 1440px;
	left: 0px;
	top: 0px;
	border-radius: 0px;
	display: flex;
	margin: 0 auto;
}

.title {
	font-size: 24px;
	font-weight: 300;
	padding-top: 104px;
	padding-bottom: 53px;
	line-height: 44.64px;
}

.podtitle {
	font-weight: 300;
	font-size: 250px;
	line-height: 230px;
}

.text {
	font-size: 32px;
	font-weight: 300;
	line-height: 49.6px;
	padding-top: 43px;
}

.button {
	display: flex;
	height: 82px;
	width: 421px;
	padding-top: 61px;
}

.button-item-left {
	display: flex;
	background: #000;
	width: 278px;
	color: white;
	font-size: 32px;
	font-weight: 300;
	line-height: 82px;
	justify-content: center;
}

a {
	text-decoration: none;
	color: white;
}

.button-item-right{
	width: 143px;
	background-color: white;
	font-weight: 300;
	font-size: 32px;
	line-height: 82px;
	display: flex;
	justify-content: center;
}

/********************main******************/
.text-main {
	font-weight: 300;
	font-size: 24px;
	line-height: 44.64px;
	text-align: center;
	padding-top: 43px;
}

.models {
	font-weight: 400;
	font-size: 72px;
	line-height: 81px;
	text-align: center;
}

.wrapper {

	width: 417px;
	height: 630px;
	background-color: #F8F8F8;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;

}

.title-model {
	font-weight: 400;
	font-size: 32px;
	line-height: 29.44px;
	text-align: center;
	padding-top: 67px;
}

.content-model {
	font-weight: 300;
	font-size: 32px;
	line-height: 49.6px;
	text-align: center;
	width: 531px;
	margin: 0 auto;
	padding-top: 44px;

}

.max-heght {
	padding-top: 84px;
	padding-bottom: 84px;
}

.description {
	font-weight: 400;
	font-size: 32px;
	line-height: 59.52px;
	text-align: center;
	padding-top: 59px;
}

.line {
	background-color: #707070;
	width: 178px;
	height: 1px;
	margin: 0 auto;
}

.description-text {
	font-weight: 300;
	font-size: 24px;
	line-height: 40.8px;
	text-align: center;
	width: 515px;
	margin: 0 auto;
	padding-top: 49px;
}

.link-description {
	color: #000;
}
